head{
	padding: 0px;
	margin: 0px;
	}

body{
	display: grid;
	margin: 0px;
	background-color: white;
	}

.grid-container-header > .grid-item-nav > a{
	font-family: verdana;
	text-decoration: none;
	color: inherit;
	}

.grid-container-main{
	display: grid;
	height: 100vh;
	grid-template-areas:
		'header header header header header header header header'
		'menu main main main main main main right'
		'menu footer footer footer footer footer footer footer';
	grid-template-rows: 7% 85% 8%;
	}

#item1 { grid-area: header; }
#item2 { grid-area: menu;}
#item3 { grid-area: main; }
#item4 { grid-area: right; }
#item5 { grid-area: footer; }

.grid-container-header {
	display: grid;
	grid-template-columns: 50% auto auto auto auto auto auto;
	background-color: purple;
	column-gap: 5px;
	padding-right: 5px;
	}

.grid-item-welcome {
	font-family: verdana;
	font-size: 2vw;
	text-decoration: none;
	color: green;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	}

.grid-item-nav {
	font-size: 2vw;
	border: solid 2px;
	color: green;
	background-color: purple;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	/*border-color: black;*/
	}

.grid-item-nav:hover{
	background-color: green;
	color: purple;
	}

.fancy-link{
	color: violet;
	font-family: arial;
	font-size: 2vh;
	margin: 5px; /*? might cause trouble later on!!!*/
	}